<html>
<head>

<meta charset="utf-8">
<title>网络群体市场</title>
<link href="static/dist/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="static/dist/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="static/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="static/dist/bootstrap.min.js"></script>
<script type="text/javascript" src="static/dist/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="static/dist/vis.js"></script>
<style type="text/css">
</style>
<body>
<div class="container-fluid"> 
<h1>2016全年政府报告主题模型聚类</h1>
 <div class="col-xs-12 col-sm-12" id="showparagraph"  style="height:600px;overflow:auto;overflow-x:hidden;" >
<table class="table">
	<caption>基本的表格布局</caption>
   <thead>
      <tr>
            <th class="col-xs-6 col-sm-1" >序号</th>
            <th class="col-xs-6 col-sm-1" >主题序号</th>
            <th class="col-xs-6 col-sm-10" >关键词内容</th>
        </tr>
   </thead>
   <tbody>
      <tr>
         <td>Tanmay</td>
         <td>Bangalore</td>
         <td>Bangalore</td>
      </tr>
      <tr>
         <td>Sachin</td>
         <td>Mumbai</td>
      </tr>
   </tbody>
</table>

 </div>
                       
</div>

</body>
</html>